<h1>Editing kitchen owner</h1>

<%= render "form", kitchen_owner: @kitchen_owner %>

<br>

<div>
  <%= link_to "Show this kitchen owner", @kitchen_owner %> |
  <%= link_to "Back to kitchen owners", kitchen_owners_path %>
</div>
