<div id="<%= dom_id cook %>">
  <p>
    <strong>Nombre:</strong>
    <%= cook.cook_name %>
  </p>

  <p>
    <strong>Domicilio:</strong>
    <%= cook.cook_adress %>
  </p>

  <p>
    <strong>Numero telefonico:</strong>
    <%= cook.cook_number %>
  </p>

</div>
