<div id="<%= dom_id cook %>">
  <p>
    <strong>Cook name:</strong>
    <%= cook.cook_name %>
  </p>

  <p>
    <strong>Cook adress:</strong>
    <%= cook.cook_adress %>
  </p>

  <p>
    <strong>Cook number:</strong>
    <%= cook.cook_number %>
  </p>

</div>
