<div id="<%= dom_id reservation %>">
  <p>
    <strong>Working day:</strong>
    <%= reservation.working_day %>
  </p>

  <p>
    <strong>Reserve date:</strong>
    <%= reservation.reserve_date %>
  </p>

  <p>
    <strong>Reserve price:</strong>
    <%= reservation.reserve_price %>
  </p>

</div>
